<html>
	<head>
		<title>wiki</title>
		<meta name="viewport" content="width=320" />
	</head>
	<body>
		<div>
		<% @wiki_names.each do |name| %>
			<a href='/wiki/<%= name %>'><%= name %></a><br />
		<% end %>
		</div>
		<div>
			<a href='/wiki/history'>履歴</a><br />
		</div>
	</body>
</html>
