<html>
	<head>
		<title>wiki</title>
		<meta name="viewport" content="width=320" />
	</head>
  	<body>
		<div><%= @contents %></div>
		<a href="/wiki/<%= @name %>?edit=true">編集</a>
		<a href="/wiki/list">一覧</a>
	</body>
</html>